.settings/
.DS_Store
.env
.env.app
.unison*
perms.set
src/vendor
src/tmp
src/logs
src/diskfiles
src/node_modules

# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*
!.idea/codeStyles/
!.idea/codeStyles/*

# Vendor dev directory
src/vendor-dev/*
!src/vendor-dev/.keep

# Work dir
src/work/*
!src/work/.keep