name: Nginx
on:
  push:
    branches: [ "main" ]
    paths:
      - src/nginx/**
      - src/_common/**
  schedule:
    - cron: '0 2 * * 1,4'
  workflow_dispatch:

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  attestations: write

jobs:
  call-build-engine:
    uses: ./.github/workflows/build-engine.yml
    with:
      image-name: 'nginx'
      image-type: ''
      source-image-namespace: 'library'
      source-image-name: 'nginx'
      source-image-type: ''
      tracked-versions: '2'
      deprecated: ''
      version-precision: '2'
      latest-tag: 'true'
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
