name: PHP 8.4
on:
  push:
    branches: [ "main" ]
    paths:
      - src/php/8.4/**
  schedule:
    - cron: '0 6 * * 0,3'
  workflow_dispatch:

jobs:
  buildAndPushAlpine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push
        run: bin/build.sh php 8.4 fpm-alpine --push

  buildAndPushDebian:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push
        run: bin/build.sh php 8.4 fpm-debian --push

  buildAndPushNginxDebian:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push
        run: bin/build.sh php 8.4 fpm-nginx-debian --push

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
