name: PHP Nginx
on:
  push:
    branches: [ "main" ]
    paths:
      - src/php-nginx/**
  schedule:
    - cron: '0 2 * * 0,3'
  workflow_dispatch:

jobs:
  buildAndPush:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push
        run: bin/discover-and-build.sh php-nginx library php --source-image-type=fpm --precision=2 --push-with-latest --tracked-versions=4

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
