name: PHP Nginx
on:
  push:
    branches: [ "main" ]
    paths:
      - src/php/**
  schedule:
    - cron: '0 2 * * 0,3'
  workflow_dispatch:

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  attestations: write

jobs:
  call-fpm-alpine:
    uses: ./.github/workflows/build-engine.yml
    with:
      image-name: 'php'
      image-type: 'fpm-alpine'
      source-image-namespace: 'library'
      source-image-name: 'php'
      source-image-type: 'fpm-alpine'
      tracked-versions: '3'
      deprecated: '8.4'
      version-precision: '2'
      latest-tag: 'false'
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
  call-fpm-debian:
    uses: ./.github/workflows/build-engine.yml
    with:
      image-name: 'php'
      image-type: 'fpm-debian'
      source-image-namespace: 'library'
      source-image-name: 'php'
      source-image-type: 'fpm'
      tracked-versions: '4'
      deprecated: '8.5'
      version-precision: '2'
      latest-tag: 'false'
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
